pea_tou.json
[{"id":"1791ca30055f23d1","type":"inject","z":"6feffd2432014f63","name":"5m - Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["21adfbfeaa7cc2f3","e29529c5107b9614","8652af9898e82d21","381e18079eeb7d7b","d3327ce8028843de","7495233881f19f29","6b359057c8a20ad4"]]},{"id":"a55b0cf3caca71f5","type":"comment","z":"6feffd2432014f63","name":"Mik Section_______________________________________________________________________________________________","info":"","x":500,"y":320,"wires":[]},{"id":"528c0a47a0fe223f","type":"comment","z":"6feffd2432014f63","name":"Kung Section_______________________________________________________________________________________________","info":"","x":500,"y":80,"wires":[]},{"id":"9fa36a053609cd25","type":"api-current-state","z":"6feffd2432014f63","name":"kung_daily_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_tou_daily_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":120,"wires":[["4cf4e49a2e197f66"]]},{"id":"21adfbfeaa7cc2f3","type":"api-current-state","z":"6feffd2432014f63","name":"kung_daily_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_tou_daily_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":120,"wires":[["9fa36a053609cd25"]]},{"id":"4cf4e49a2e197f66","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":120,"wires":[["f62c4fb55129781d"]]},{"id":"f62c4fb55129781d","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Kung_TOU_Daily_Total","entityConfig":"17d6f214b9703451","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":120,"wires":[[]]},{"id":"486d224df92ca763","type":"api-current-state","z":"6feffd2432014f63","name":"kung_monthly_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_tou_monthly_23_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":180,"wires":[["8bee734a2f3062eb"]]},{"id":"e29529c5107b9614","type":"api-current-state","z":"6feffd2432014f63","name":"kung_monthly_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_tou_monthly_23_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":180,"wires":[["486d224df92ca763"]]},{"id":"8bee734a2f3062eb","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":180,"wires":[["9b68e9b40bb0b115"]]},{"id":"9b68e9b40bb0b115","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Kung_TOU_Monthly_Total","entityConfig":"8d16f8871198aebe","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":180,"wires":[["b0b813e7736eac03","2db5d430c4eba906"]]},{"id":"b0b813e7736eac03","type":"function","z":"6feffd2432014f63","name":"PEA Rate","func":"var month_kwh = 0;\nvar process_kwh = 0;\n//var thb_exc_vat = 0;\nvar thb_inc_vat = 0;\nvar ft_inc_vat = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\nconst rate_150 = 3.475788;\nconst rate_250 = 4.517326;\nconst rate_400 = 4.731219;\nconst rate_ft = 0.975733;\nconst rate_service = 26.3434;\n\nprocess_kwh = parseFloat(msg.tou_total);\nft_inc_vat = process_kwh * rate_ft;\n\n//150 kwh 0 - 150\nif (process_kwh > 150) {\n    thb_inc_vat = 150 * rate_150;\n    process_kwh = process_kwh - 150;\n//250kwh 151-400\n    if (process_kwh > 250) {\n        thb_inc_vat = thb_inc_vat + (250 * rate_250);\n        process_kwh = process_kwh - 250;\n//400kwh 401+\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_400);\n    }\n    else{\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_250);\n    }\n}\nelse {\n    thb_inc_vat = process_kwh * rate_150;\n}\n\n//msg.thb_inc_vat = msg.thb_exc_vate + (msg.thb_exc_vate * 0.07);\nthb_total = rate_service + thb_inc_vat + ft_inc_vat;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = thb_total - thb_inc_vat;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\nmsg.thb_energy = parseFloat(thb_inc_vat.toFixed(2));\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":180,"wires":[["b7c345febfb25cfa","96436bb1989f74cc","d6cd3bd950627ec2"]]},{"id":"b7c345febfb25cfa","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_N_THB_Energy","entityConfig":"d7a442c16837d54d","version":0,"state":"thb_energy","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1600,"y":140,"wires":[[]]},{"id":"96436bb1989f74cc","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_N_THB_Fee","entityConfig":"af75caec6c7982dd","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1590,"y":200,"wires":[[]]},{"id":"d6cd3bd950627ec2","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_N_THB_Total","entityConfig":"97fe24dc83dcd36c","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1600,"y":260,"wires":[[]]},{"id":"5621ae481bd8b0e1","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_TOU_THB_Peak","entityConfig":"28be31c10f25babb","version":0,"state":"thb_peak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1910,"y":140,"wires":[[]]},{"id":"7f8778d0ebb1d592","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_TOU_THB_Offpeak","entityConfig":"c56d6ce778c44488","version":0,"state":"thb_offpeak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1910,"y":200,"wires":[[]]},{"id":"0462c51ec384a427","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_TOU_THB_Fee","entityConfig":"be7954323377084f","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1900,"y":260,"wires":[[]]},{"id":"4ae7d551fbb00a2c","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_TOU_THB_Total","entityConfig":"b7839ef4b95d7558","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1900,"y":320,"wires":[[]]},{"id":"2db5d430c4eba906","type":"function","z":"6feffd2432014f63","name":"TOU Rate","func":"var peak_kwh = 0;\nvar offpeak_kwh = 0;\nvar holiday_kwh = 0;\n\nvar total_kwh = 0;\n\nvar thb_peak = 0;\nvar thb_offpeak = 0;\nvar thb_ft = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\n\nconst rate_peak = 6.204074;\nconst rate_offpeak = 2.821483;\nconst rate_fee = 40.8954;\n\nconst rate_ft = 0.975733;\n\npeak_kwh = parseFloat(msg.payload2);\noffpeak_kwh = parseFloat(msg.payload1);\n//holiday_kwh = parseFloat(msg.holiday);\n\ntotal_kwh = parseFloat(msg.tou_total);\n//msg.total_kwh = parseFloat(total_kwh.toFixed(2));\n\nthb_ft = total_kwh * rate_ft;\nmsg.thb_ft = parseFloat(thb_ft.toFixed(2));\n\nthb_peak = peak_kwh * rate_peak;\nmsg.thb_peak = parseFloat(thb_peak.toFixed(2));\n\nthb_offpeak = offpeak_kwh * rate_offpeak;\nmsg.thb_offpeak = parseFloat(thb_offpeak.toFixed(2));\n\nthb_total = msg.thb_peak + msg.thb_offpeak + msg.thb_ft + rate_fee;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = msg.thb_total - msg.thb_peak - msg.thb_offpeak;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":260,"wires":[["5621ae481bd8b0e1","7f8778d0ebb1d592","0462c51ec384a427","4ae7d551fbb00a2c"]]},{"id":"2f2353f3.8506ec","type":"server","name":"Home Assistant 13","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"17d6f214b9703451","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"1e8a3fefeb086341","name":"UTM_Kung_TOU_Daily_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Kung_TOU_Daily_Total"},{"property":"icon","value":"mdi:sigma"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"8d16f8871198aebe","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"1e8a3fefeb086341","name":"UTM_Kung_TOU_Monthly_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Kung_TOU_Monthly_Total"},{"property":"icon","value":"mdi:sigma"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"d7a442c16837d54d","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_N_THB_Energy","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_N_THB_Energy"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"af75caec6c7982dd","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_N_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_N_THB_Fee"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"97fe24dc83dcd36c","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_N_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_N_THB_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"28be31c10f25babb","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_TOU_THB_Peak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_TOU_THB_Peak"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"c56d6ce778c44488","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_TOU_THB_Offpeak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_TOU_THB_Offpeak"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"be7954323377084f","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_TOU_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_TOU_THB_Fee"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"b7839ef4b95d7558","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_TOU_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_TOU_THB_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"1e8a3fefeb086341","type":"ha-device-config","name":"NR_Kung","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"8dc1952b239d5d63","type":"ha-device-config","name":"NR_Kung_Bill","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""}]