TOU2.json
[{"id":"6feffd2432014f63","type":"tab","label":"TOU_2","disabled":false,"info":"","env":[]},{"id":"7ea79d81a3f90d1a","type":"group","z":"6feffd2432014f63","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4670c774764d9879","321362c859b46d61","735a37e80f01fd48","938da5b5d2b02147","0dfcf4f542682e12","0386ae0a48a8b5b7","b3e1e539fe89d25e","c0bb64ac1ee70494","935e99db85b955cc","5e617a01d8f06008","f49318be088f3633","b276f6f8c3c303d5","98de54a45994479b"],"x":154,"y":853,"w":1938,"h":474},{"id":"b276f6f8c3c303d5","type":"group","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4a76ad82745b349f","dadce214b7841148","aece4c577503019b","d93bf236301e99f5"],"x":1774,"y":879,"w":292,"h":262},{"id":"98de54a45994479b","type":"group","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2eb42eb18f8d633d","6a47762b03f292ea","32008b2a58640055"],"x":1474,"y":1099,"w":272,"h":202},{"id":"1791ca30055f23d1","type":"inject","z":"6feffd2432014f63","name":"5m - Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["21adfbfeaa7cc2f3","e29529c5107b9614","8652af9898e82d21","381e18079eeb7d7b","7495233881f19f29","6b359057c8a20ad4","321362c859b46d61","938da5b5d2b02147"]]},{"id":"411a6103f01b9a94","type":"api-current-state","z":"6feffd2432014f63","name":"mik_daily_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_mik_tou_daily_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":360,"wires":[["32829a3d1a71eb41"]]},{"id":"8652af9898e82d21","type":"api-current-state","z":"6feffd2432014f63","name":"mik_daily_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_mik_tou_daily_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":360,"wires":[["411a6103f01b9a94"]]},{"id":"32829a3d1a71eb41","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":360,"wires":[["834b920a176057ad"]]},{"id":"a55b0cf3caca71f5","type":"comment","z":"6feffd2432014f63","name":"Mik Section_______________________________________________________________________________________________","info":"","x":500,"y":320,"wires":[]},{"id":"834b920a176057ad","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Mik_TOU_Daily_Total","entityConfig":"c4ce92067791f488","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1000,"y":360,"wires":[[]]},{"id":"cb9980ef619bacc4","type":"api-current-state","z":"6feffd2432014f63","name":"mik_monthly_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_mik_tou_monthly_28_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":420,"wires":[["be54eb93f38b1a4c"]]},{"id":"381e18079eeb7d7b","type":"api-current-state","z":"6feffd2432014f63","name":"mik_monthly_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_mik_tou_monthly_28_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":420,"wires":[["cb9980ef619bacc4"]]},{"id":"be54eb93f38b1a4c","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":420,"wires":[["bfc2752be5c61ff3"]]},{"id":"bfc2752be5c61ff3","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Mik_TOU_Monthly_Total","entityConfig":"88af72617238cfa4","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":420,"wires":[["f7894c3546ff054d","02d49b1224fbaa95"]]},{"id":"528c0a47a0fe223f","type":"comment","z":"6feffd2432014f63","name":"Kung Section_______________________________________________________________________________________________","info":"","x":500,"y":80,"wires":[]},{"id":"9fa36a053609cd25","type":"api-current-state","z":"6feffd2432014f63","name":"kung_daily_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_tou_daily_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":120,"wires":[["4cf4e49a2e197f66"]]},{"id":"21adfbfeaa7cc2f3","type":"api-current-state","z":"6feffd2432014f63","name":"kung_daily_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_tou_daily_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":120,"wires":[["9fa36a053609cd25"]]},{"id":"4cf4e49a2e197f66","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":120,"wires":[["f62c4fb55129781d"]]},{"id":"f62c4fb55129781d","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Kung_TOU_Daily_Total","entityConfig":"17d6f214b9703451","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":120,"wires":[[]]},{"id":"486d224df92ca763","type":"api-current-state","z":"6feffd2432014f63","name":"kung_monthly_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_tou_monthly_23_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":180,"wires":[["8bee734a2f3062eb"]]},{"id":"e29529c5107b9614","type":"api-current-state","z":"6feffd2432014f63","name":"kung_monthly_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_tou_monthly_23_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":180,"wires":[["486d224df92ca763"]]},{"id":"8bee734a2f3062eb","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":180,"wires":[["9b68e9b40bb0b115"]]},{"id":"9b68e9b40bb0b115","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Kung_TOU_Monthly_Total","entityConfig":"8d16f8871198aebe","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":180,"wires":[["b0b813e7736eac03","2db5d430c4eba906"]]},{"id":"3de49df5386962a2","type":"inject","z":"6feffd2432014f63","name":"00:01 Run","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":2940,"wires":[["a2776140568b6755","4f913b27580a5556","02ababf8324c14e9"]]},{"id":"241e369d8ed2ab88","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Kung_TOU_Daily_Yesterday_Total","entityConfig":"9649c9af9c447ae4","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1060,"y":2880,"wires":[[]]},{"id":"a0e98c20ef0f9208","type":"api-current-state","z":"6feffd2432014f63","name":"kung_daily_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_tou_daily_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":2880,"wires":[["2a5df402a050215b","2a8263f1547b16b0","b28d216faf676c4b"]]},{"id":"a2776140568b6755","type":"api-current-state","z":"6feffd2432014f63","name":"kung_daily_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_tou_daily_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":2880,"wires":[["a0e98c20ef0f9208"]]},{"id":"2a5df402a050215b","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak = 0;\n\noffpeak = parseFloat(msg.data1.attributes.last_period);\npeak = parseFloat(msg.data2.attributes.last_period);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":2880,"wires":[["241e369d8ed2ab88"]]},{"id":"2a8263f1547b16b0","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Kung_TOU_Daily_Yesterday_Offpeak","entityConfig":"14e1e6b3aa1724b6","version":0,"state":"data1.attributes.last_period","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1070,"y":2940,"wires":[[]]},{"id":"b28d216faf676c4b","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Kung_TOU_Daily_Yesterday_Peak","entityConfig":"b4bf3288806090be","version":0,"state":"data2.attributes.last_period","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1060,"y":3000,"wires":[[]]},{"id":"f838c7ef6eabc9d4","type":"comment","z":"6feffd2432014f63","name":"Kung Section_______________________________________________________________________________________________","info":"","x":480,"y":2840,"wires":[]},{"id":"165c1e08da058a85","type":"comment","z":"6feffd2432014f63","name":"Mik Section_______________________________________________________________________________________________","info":"","x":480,"y":3060,"wires":[]},{"id":"4f913b27580a5556","type":"api-current-state","z":"6feffd2432014f63","name":"mik_daily_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_mik_tou_daily_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":3100,"wires":[["9d7b93142486b611"]]},{"id":"9d7b93142486b611","type":"api-current-state","z":"6feffd2432014f63","name":"mik_daily_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_mik_tou_daily_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":3100,"wires":[["571cfcc697138515","61fbd7392155ef35","9000311be7e4d6c2"]]},{"id":"571cfcc697138515","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak = 0;\n\noffpeak = parseFloat(msg.data1.attributes.last_period);\npeak = parseFloat(msg.data2.attributes.last_period);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":3100,"wires":[["203f07f726ef34d5"]]},{"id":"203f07f726ef34d5","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Mik_TOU_Daily_Yesterday_Total","entityConfig":"8a01e1d55f12ab90","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1050,"y":3100,"wires":[[]]},{"id":"61fbd7392155ef35","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Mik_TOU_Daily_Yesterday_Offpeak","entityConfig":"3142d8cc84ac35af","version":0,"state":"data1.attributes.last_period","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1060,"y":3160,"wires":[[]]},{"id":"9000311be7e4d6c2","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Mik_TOU_Daily_Yesterday_Peak","entityConfig":"56fe41a3606feaf6","version":0,"state":"data2.attributes.last_period","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1060,"y":3220,"wires":[[]]},{"id":"b0b813e7736eac03","type":"function","z":"6feffd2432014f63","name":"PEA Rate","func":"var month_kwh = 0;\nvar process_kwh = 0;\n//var thb_exc_vat = 0;\nvar thb_inc_vat = 0;\nvar ft_inc_vat = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\nconst rate_150 = 3.475788;\nconst rate_250 = 4.517326;\nconst rate_400 = 4.731219;\nconst rate_ft = 0.211004; //new ft 2025\nconst rate_service = 26.3434;\n\nprocess_kwh = parseFloat(msg.tou_total);\nft_inc_vat = process_kwh * rate_ft;\n\n//150 kwh 0 - 150\nif (process_kwh > 150) {\n    thb_inc_vat = 150 * rate_150;\n    process_kwh = process_kwh - 150;\n//250kwh 151-400\n    if (process_kwh > 250) {\n        thb_inc_vat = thb_inc_vat + (250 * rate_250);\n        process_kwh = process_kwh - 250;\n//400kwh 401+\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_400);\n    }\n    else{\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_250);\n    }\n}\nelse {\n    thb_inc_vat = process_kwh * rate_150;\n}\n\n//msg.thb_inc_vat = msg.thb_exc_vate + (msg.thb_exc_vate * 0.07);\nthb_total = rate_service + thb_inc_vat + ft_inc_vat;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = thb_total - thb_inc_vat;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\nmsg.thb_energy = parseFloat(thb_inc_vat.toFixed(2));\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":180,"wires":[["b7c345febfb25cfa","96436bb1989f74cc","d6cd3bd950627ec2"]]},{"id":"f7894c3546ff054d","type":"function","z":"6feffd2432014f63","name":"PEA Rate","func":"var month_kwh = 0;\nvar process_kwh = 0;\n//var thb_exc_vat = 0;\nvar thb_inc_vat = 0;\nvar ft_inc_vat = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\nconst rate_150 = 3.475788;\nconst rate_250 = 4.517326;\nconst rate_400 = 4.731219;\nconst rate_ft = 0.211004; //new ft 2025\nconst rate_service = 26.3434;\n\nprocess_kwh = parseFloat(msg.tou_total);\nft_inc_vat = process_kwh * rate_ft;\n\n//150 kwh 0 - 150\nif (process_kwh > 150) {\n    thb_inc_vat = 150 * rate_150;\n    process_kwh = process_kwh - 150;\n//250kwh 151-400\n    if (process_kwh > 250) {\n        thb_inc_vat = thb_inc_vat + (250 * rate_250);\n        process_kwh = process_kwh - 250;\n//400kwh 401+\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_400);\n    }\n    else{\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_250);\n    }\n}\nelse {\n    thb_inc_vat = process_kwh * rate_150;\n}\n\n//msg.thb_inc_vat = msg.thb_exc_vate + (msg.thb_exc_vate * 0.07);\nthb_total = rate_service + thb_inc_vat + ft_inc_vat;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = thb_total - thb_inc_vat;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\nmsg.thb_energy = parseFloat(thb_inc_vat.toFixed(2));\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":360,"wires":[["5ff7e50a8618ae39","c55e3280fec01d91","8aeb9095b93e1e35"]]},{"id":"b7c345febfb25cfa","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_N_THB_Energy","entityConfig":"d7a442c16837d54d","version":0,"state":"thb_energy","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1600,"y":140,"wires":[[]]},{"id":"96436bb1989f74cc","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_N_THB_Fee","entityConfig":"af75caec6c7982dd","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1590,"y":200,"wires":[[]]},{"id":"d6cd3bd950627ec2","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_N_THB_Total","entityConfig":"97fe24dc83dcd36c","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1600,"y":260,"wires":[[]]},{"id":"5ff7e50a8618ae39","type":"ha-sensor","z":"6feffd2432014f63","name":"Mik_N_THB_Energy","entityConfig":"9df0c2119f371ceb","version":0,"state":"thb_energy","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1600,"y":400,"wires":[[]]},{"id":"c55e3280fec01d91","type":"ha-sensor","z":"6feffd2432014f63","name":"Mik_N_THB_Fee","entityConfig":"50548ab7401405bb","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1590,"y":460,"wires":[[]]},{"id":"8aeb9095b93e1e35","type":"ha-sensor","z":"6feffd2432014f63","name":"Mik_N_THB_Total","entityConfig":"d4e5efa5a94ec6a1","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1590,"y":520,"wires":[[]]},{"id":"5621ae481bd8b0e1","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_TOU_THB_Peak","entityConfig":"28be31c10f25babb","version":0,"state":"thb_peak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1910,"y":140,"wires":[[]]},{"id":"7f8778d0ebb1d592","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_TOU_THB_Offpeak","entityConfig":"c56d6ce778c44488","version":0,"state":"thb_offpeak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1910,"y":200,"wires":[[]]},{"id":"0462c51ec384a427","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_TOU_THB_Fee","entityConfig":"be7954323377084f","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1900,"y":260,"wires":[[]]},{"id":"4ae7d551fbb00a2c","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_TOU_THB_Total","entityConfig":"b7839ef4b95d7558","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1900,"y":320,"wires":[[]]},{"id":"3c86a03c39e0d2ee","type":"ha-sensor","z":"6feffd2432014f63","name":"Mik_TOU_THB_Peak","entityConfig":"d2582943e62ee765","version":0,"state":"thb_peak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1900,"y":400,"wires":[[]]},{"id":"eee5992ce506582c","type":"ha-sensor","z":"6feffd2432014f63","name":"Mik_TOU_THB_Offpeak","entityConfig":"69389acb76f80784","version":0,"state":"thb_offpeak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1910,"y":460,"wires":[[]]},{"id":"3c6edf53c74dd3e7","type":"ha-sensor","z":"6feffd2432014f63","name":"Mik_TOU_THB_Fee","entityConfig":"4473e960d805fae7","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1900,"y":520,"wires":[[]]},{"id":"39d0a543d347b975","type":"ha-sensor","z":"6feffd2432014f63","name":"Mik_TOU_THB_Total","entityConfig":"b275ee0d98ce80ae","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1900,"y":580,"wires":[[]]},{"id":"2db5d430c4eba906","type":"function","z":"6feffd2432014f63","name":"TOU Rate","func":"var peak_kwh = 0;\nvar offpeak_kwh = 0;\nvar holiday_kwh = 0;\n\nvar total_kwh = 0;\n\nvar thb_peak = 0;\nvar thb_offpeak = 0;\nvar thb_ft = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\n\nconst rate_peak = 6.204074;\nconst rate_offpeak = 2.821483;\nconst rate_fee = 40.8954;\n\nconst rate_ft = 0.211004; //new ft 2025\n\npeak_kwh = parseFloat(msg.payload2);\noffpeak_kwh = parseFloat(msg.payload1);\n//holiday_kwh = parseFloat(msg.holiday);\n\ntotal_kwh = parseFloat(msg.tou_total);\n//msg.total_kwh = parseFloat(total_kwh.toFixed(2));\n\nthb_ft = total_kwh * rate_ft;\nmsg.thb_ft = parseFloat(thb_ft.toFixed(2));\n\nthb_peak = peak_kwh * rate_peak;\nmsg.thb_peak = parseFloat(thb_peak.toFixed(2));\n\nthb_offpeak = offpeak_kwh * rate_offpeak;\nmsg.thb_offpeak = parseFloat(thb_offpeak.toFixed(2));\n\nthb_total = msg.thb_peak + msg.thb_offpeak + msg.thb_ft + rate_fee;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = msg.thb_total - msg.thb_peak - msg.thb_offpeak;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\n\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":260,"wires":[["5621ae481bd8b0e1","7f8778d0ebb1d592","0462c51ec384a427","4ae7d551fbb00a2c"]]},{"id":"02d49b1224fbaa95","type":"function","z":"6feffd2432014f63","name":"TOU Rate","func":"var peak_kwh = 0;\nvar offpeak_kwh = 0;\nvar holiday_kwh = 0;\n\nvar total_kwh = 0;\n\nvar thb_peak = 0;\nvar thb_offpeak = 0;\nvar thb_ft = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\n\nconst rate_peak = 6.204074;\nconst rate_offpeak = 2.821483;\nconst rate_fee = 40.8954;\n\nconst rate_ft = 0.211004; //new ft 2025\n\npeak_kwh = parseFloat(msg.payload2);\noffpeak_kwh = parseFloat(msg.payload1);\n//holiday_kwh = parseFloat(msg.holiday);\n\ntotal_kwh = parseFloat(msg.tou_total);\n//msg.total_kwh = parseFloat(total_kwh.toFixed(2));\n\nthb_ft = total_kwh * rate_ft;\nmsg.thb_ft = parseFloat(thb_ft.toFixed(2));\n\nthb_peak = peak_kwh * rate_peak;\nmsg.thb_peak = parseFloat(thb_peak.toFixed(2));\n\nthb_offpeak = offpeak_kwh * rate_offpeak;\nmsg.thb_offpeak = parseFloat(thb_offpeak.toFixed(2));\n\nthb_total = msg.thb_peak + msg.thb_offpeak + msg.thb_ft + rate_fee;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = msg.thb_total - msg.thb_peak - msg.thb_offpeak;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\n\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":480,"wires":[["3c86a03c39e0d2ee","eee5992ce506582c","3c6edf53c74dd3e7","39d0a543d347b975"]]},{"id":"7495233881f19f29","type":"api-current-state","z":"6feffd2432014f63","name":"art_daily_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_art_tou_daily_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":600,"wires":[["5d7fbc23f2bb3342"]]},{"id":"5d7fbc23f2bb3342","type":"api-current-state","z":"6feffd2432014f63","name":"art_daily_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_art_tou_daily_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":600,"wires":[["9883af58c65ee007"]]},{"id":"6b359057c8a20ad4","type":"api-current-state","z":"6feffd2432014f63","name":"art_monthly_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_art_tou_monthly_19_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":660,"wires":[["a001f752ab993d4f"]]},{"id":"a001f752ab993d4f","type":"api-current-state","z":"6feffd2432014f63","name":"art_monthly_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_art_tou_monthly_19_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":660,"wires":[["b8c6042967e7bec6"]]},{"id":"9883af58c65ee007","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":600,"wires":[["326e3744017f8302"]]},{"id":"b8c6042967e7bec6","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":660,"wires":[["5103b1962454b766"]]},{"id":"326e3744017f8302","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Art_TOU_Daily_Total","entityConfig":"619d7d14ad8c4339","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1000,"y":600,"wires":[[]]},{"id":"5103b1962454b766","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Art_TOU_Monthly_Total","entityConfig":"875bdb6b6013c219","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":660,"wires":[["53343aecd1908918","0a9a8ac5f37093f8"]]},{"id":"6106ddcc699dfed6","type":"comment","z":"6feffd2432014f63","name":"Art Section_______________________________________________________________________________________________","info":"","x":470,"y":3280,"wires":[]},{"id":"e1493052601625c9","type":"comment","z":"6feffd2432014f63","name":"Art Section_______________________________________________________________________________________________","info":"","x":490,"y":540,"wires":[]},{"id":"983ca102df6d8804","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak = 0;\n\noffpeak = parseFloat(msg.data1.attributes.last_period);\npeak = parseFloat(msg.data2.attributes.last_period);\nmsg.tou_total = offpeak + peak;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":3340,"wires":[["3179359274446e33"]]},{"id":"3179359274446e33","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Art_TOU_Daily_Yesterday_Total","entityConfig":"dbda515947435158","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1050,"y":3340,"wires":[[]]},{"id":"546b51c733f515bf","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Art_TOU_Daily_Yesterday_Offpeak","entityConfig":"9878c437929c48f7","version":0,"state":"data1.attributes.last_period","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1060,"y":3400,"wires":[[]]},{"id":"d11844ba5153d937","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Art_TOU_Daily_Yesterday_Peak","entityConfig":"3964592341478845","version":0,"state":"data2.attributes.last_period","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1050,"y":3460,"wires":[[]]},{"id":"02ababf8324c14e9","type":"api-current-state","z":"6feffd2432014f63","name":"art_daily_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_art_tou_daily_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":3340,"wires":[["9839c9ba04507e6e"]]},{"id":"9839c9ba04507e6e","type":"api-current-state","z":"6feffd2432014f63","name":"art_daily_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_art_tou_daily_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":3340,"wires":[["983ca102df6d8804","546b51c733f515bf","d11844ba5153d937"]]},{"id":"53343aecd1908918","type":"function","z":"6feffd2432014f63","name":"PEA Rate","func":"var month_kwh = 0;\nvar process_kwh = 0;\n//var thb_exc_vat = 0;\nvar thb_inc_vat = 0;\nvar ft_inc_vat = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\nconst rate_150 = 3.475788;\nconst rate_250 = 4.517326;\nconst rate_400 = 4.731219;\nconst rate_ft = 0.211004; //new ft 2025\nconst rate_service = 26.3434;\n\nprocess_kwh = parseFloat(msg.tou_total);\nft_inc_vat = process_kwh * rate_ft;\n\n//150 kwh 0 - 150\nif (process_kwh > 150) {\n    thb_inc_vat = 150 * rate_150;\n    process_kwh = process_kwh - 150;\n//250kwh 151-400\n    if (process_kwh > 250) {\n        thb_inc_vat = thb_inc_vat + (250 * rate_250);\n        process_kwh = process_kwh - 250;\n//400kwh 401+\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_400);\n    }\n    else{\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_250);\n    }\n}\nelse {\n    thb_inc_vat = process_kwh * rate_150;\n}\n\n//msg.thb_inc_vat = msg.thb_exc_vate + (msg.thb_exc_vate * 0.07);\nthb_total = rate_service + thb_inc_vat + ft_inc_vat;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = thb_total - thb_inc_vat;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\nmsg.thb_energy = parseFloat(thb_inc_vat.toFixed(2));\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":600,"wires":[["3f49245df0bf0b22","63bb0e30df4b6dfc","9829f02a33bac4a1"]]},{"id":"0a9a8ac5f37093f8","type":"function","z":"6feffd2432014f63","name":"TOU Rate","func":"var peak_kwh = 0;\nvar offpeak_kwh = 0;\nvar holiday_kwh = 0;\n\nvar total_kwh = 0;\n\nvar thb_peak = 0;\nvar thb_offpeak = 0;\nvar thb_ft = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\n\nconst rate_peak = 6.204074;\nconst rate_offpeak = 2.821483;\nconst rate_fee = 40.8954;\n\nconst rate_ft = 0.211004; //new ft 2025\n\npeak_kwh = parseFloat(msg.payload2);\noffpeak_kwh = parseFloat(msg.payload1);\n//holiday_kwh = parseFloat(msg.holiday);\n\ntotal_kwh = parseFloat(msg.tou_total);\n//msg.total_kwh = parseFloat(total_kwh.toFixed(2));\n\nthb_ft = total_kwh * rate_ft;\nmsg.thb_ft = parseFloat(thb_ft.toFixed(2));\n\nthb_peak = peak_kwh * rate_peak;\nmsg.thb_peak = parseFloat(thb_peak.toFixed(2));\n\nthb_offpeak = offpeak_kwh * rate_offpeak;\nmsg.thb_offpeak = parseFloat(thb_offpeak.toFixed(2));\n\nthb_total = msg.thb_peak + msg.thb_offpeak + msg.thb_ft + rate_fee;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = msg.thb_total - msg.thb_peak - msg.thb_offpeak;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\n\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":680,"wires":[["979e80f17abb9e8c","17abbc4b6c1e1409","0a6608d1a98ab0d2","50157eb9191b6da2"]]},{"id":"3f49245df0bf0b22","type":"ha-sensor","z":"6feffd2432014f63","name":"Art_N_THB_Energy","entityConfig":"fc53c6fe8b7a8e1a","version":0,"state":"thb_energy","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1580,"y":640,"wires":[[]]},{"id":"63bb0e30df4b6dfc","type":"ha-sensor","z":"6feffd2432014f63","name":"Art_N_THB_Fee","entityConfig":"ad0b759afb20ea3d","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1560,"y":700,"wires":[[]]},{"id":"9829f02a33bac4a1","type":"ha-sensor","z":"6feffd2432014f63","name":"Art_N_THB_Total","entityConfig":"8480a2474951fff7","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1570,"y":760,"wires":[[]]},{"id":"979e80f17abb9e8c","type":"ha-sensor","z":"6feffd2432014f63","name":"Art_TOU_THB_Peak","entityConfig":"3c2f6af619efd8e2","version":0,"state":"thb_peak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1900,"y":640,"wires":[[]]},{"id":"17abbc4b6c1e1409","type":"ha-sensor","z":"6feffd2432014f63","name":"Art_TOU_THB_Offpeak","entityConfig":"1eef82482cb11a40","version":0,"state":"thb_offpeak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1910,"y":700,"wires":[[]]},{"id":"0a6608d1a98ab0d2","type":"ha-sensor","z":"6feffd2432014f63","name":"Art_TOU_THB_Fee","entityConfig":"11d0bd7bd90fff8b","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1890,"y":760,"wires":[[]]},{"id":"50157eb9191b6da2","type":"ha-sensor","z":"6feffd2432014f63","name":"Art_TOU_THB_Total","entityConfig":"5eb3b2a822d6b75c","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1900,"y":820,"wires":[[]]},{"id":"4670c774764d9879","type":"comment","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"Kung 2 Section_______________________________________________________________________________________________","info":"","x":630,"y":940,"wires":[]},{"id":"321362c859b46d61","type":"api-current-state","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"kung2_daily_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung2_tou_daily_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":1080,"wires":[["735a37e80f01fd48"]]},{"id":"735a37e80f01fd48","type":"api-current-state","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"kung2_daily_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung2_tou_daily_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":1080,"wires":[["0386ae0a48a8b5b7"]]},{"id":"938da5b5d2b02147","type":"api-current-state","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"kung2_monthly_Offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung2_tou_monthly_26_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":1140,"wires":[["0dfcf4f542682e12"]]},{"id":"0dfcf4f542682e12","type":"api-current-state","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"kung2_monthly_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung2_tou_monthly_26_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":1140,"wires":[["b3e1e539fe89d25e"]]},{"id":"0386ae0a48a8b5b7","type":"function","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = (offpeak + peak).toFixed(2);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1080,"wires":[["c0bb64ac1ee70494"]]},{"id":"b3e1e539fe89d25e","type":"function","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = (offpeak + peak).toFixed(2);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1140,"wires":[["935e99db85b955cc"]]},{"id":"c0bb64ac1ee70494","type":"ha-sensor","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"UTM_Kung2_TOU_Daily_Total","entityConfig":"e67799744cac9062","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1110,"y":1080,"wires":[[]]},{"id":"935e99db85b955cc","type":"ha-sensor","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"UTM_Kung2_TOU_Monthly_Total","entityConfig":"3e60a2d73d8ea1cb","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1120,"y":1140,"wires":[["5e617a01d8f06008","f49318be088f3633"]]},{"id":"5e617a01d8f06008","type":"function","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"PEA Rate","func":"var month_kwh = 0;\nvar process_kwh = 0;\n//var thb_exc_vat = 0;\nvar thb_inc_vat = 0;\nvar ft_inc_vat = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\nconst rate_150 = 3.475788;\nconst rate_250 = 4.517326;\nconst rate_400 = 4.731219;\nconst rate_ft = 0.211004; //new ft 2025\nconst rate_service = 26.3434;\n\nprocess_kwh = parseFloat(msg.tou_total);\nft_inc_vat = process_kwh * rate_ft;\n\n//150 kwh 0 - 150\nif (process_kwh > 150) {\n    thb_inc_vat = 150 * rate_150;\n    process_kwh = process_kwh - 150;\n//250kwh 151-400\n    if (process_kwh > 250) {\n        thb_inc_vat = thb_inc_vat + (250 * rate_250);\n        process_kwh = process_kwh - 250;\n//400kwh 401+\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_400);\n    }\n    else{\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_250);\n    }\n}\nelse {\n    thb_inc_vat = process_kwh * rate_150;\n}\n\n//msg.thb_inc_vat = msg.thb_exc_vate + (msg.thb_exc_vate * 0.07);\nthb_total = rate_service + thb_inc_vat + ft_inc_vat;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = thb_total - thb_inc_vat;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\nmsg.thb_energy = parseFloat(thb_inc_vat.toFixed(2));\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1080,"wires":[["2eb42eb18f8d633d","6a47762b03f292ea","32008b2a58640055"]]},{"id":"f49318be088f3633","type":"function","z":"6feffd2432014f63","g":"7ea79d81a3f90d1a","name":"TOU Rate","func":"var peak_kwh = 0;\nvar offpeak_kwh = 0;\nvar holiday_kwh = 0;\n\nvar total_kwh = 0;\n\nvar thb_peak = 0;\nvar thb_offpeak = 0;\nvar thb_ft = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\n\nconst rate_peak = 6.204074;\nconst rate_offpeak = 2.821483;\nconst rate_fee = 40.8954;\n\nconst rate_ft = 0.211004; //new ft 2025\n\npeak_kwh = parseFloat(msg.payload2);\noffpeak_kwh = parseFloat(msg.payload1);\n//holiday_kwh = parseFloat(msg.holiday);\n\ntotal_kwh = parseFloat(msg.tou_total);\n//msg.total_kwh = parseFloat(total_kwh.toFixed(2));\n\nthb_ft = total_kwh * rate_ft;\nmsg.thb_ft = parseFloat(thb_ft.toFixed(2));\n\nthb_peak = peak_kwh * rate_peak;\nmsg.thb_peak = parseFloat(thb_peak.toFixed(2));\n\nthb_offpeak = offpeak_kwh * rate_offpeak;\nmsg.thb_offpeak = parseFloat(thb_offpeak.toFixed(2));\n\nthb_total = msg.thb_peak + msg.thb_offpeak + msg.thb_ft + rate_fee;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = msg.thb_total - msg.thb_peak - msg.thb_offpeak;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\n\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1160,"wires":[["4a76ad82745b349f","dadce214b7841148","aece4c577503019b","d93bf236301e99f5"]]},{"id":"2eb42eb18f8d633d","type":"ha-sensor","z":"6feffd2432014f63","g":"98de54a45994479b","name":"Kung2_N_THB_Energy","entityConfig":"21d41417c87387d7","version":0,"state":"thb_energy","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1610,"y":1140,"wires":[[]]},{"id":"6a47762b03f292ea","type":"ha-sensor","z":"6feffd2432014f63","g":"98de54a45994479b","name":"Kung2_N_THB_Fee","entityConfig":"20e7237d9f3027c9","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1600,"y":1200,"wires":[[]]},{"id":"32008b2a58640055","type":"ha-sensor","z":"6feffd2432014f63","g":"98de54a45994479b","name":"Kung2_N_THB_Total","entityConfig":"b9a47a116b36a839","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1600,"y":1260,"wires":[[]]},{"id":"4a76ad82745b349f","type":"ha-sensor","z":"6feffd2432014f63","g":"b276f6f8c3c303d5","name":"Kung2_TOU_THB_Peak","entityConfig":"d2debafccd0df4cd","version":0,"state":"thb_peak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1910,"y":920,"wires":[[]]},{"id":"dadce214b7841148","type":"ha-sensor","z":"6feffd2432014f63","g":"b276f6f8c3c303d5","name":"Kung2_TOU_THB_Offpeak","entityConfig":"351f951267c26838","version":0,"state":"thb_offpeak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1920,"y":980,"wires":[[]]},{"id":"aece4c577503019b","type":"ha-sensor","z":"6feffd2432014f63","g":"b276f6f8c3c303d5","name":"Kung2_TOU_THB_Fee","entityConfig":"a1103b5735beea96","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1910,"y":1040,"wires":[[]]},{"id":"d93bf236301e99f5","type":"ha-sensor","z":"6feffd2432014f63","g":"b276f6f8c3c303d5","name":"Kung2_TOU_THB_Total","entityConfig":"0bee9d738dae3936","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1910,"y":1100,"wires":[[]]},{"id":"5d0ef732d26bc03d","type":"link in","z":"6feffd2432014f63","name":"link in 12","links":["f6f7dd828fd78c99"],"x":55,"y":240,"wires":[["21adfbfeaa7cc2f3","e29529c5107b9614","8652af9898e82d21","381e18079eeb7d7b","7495233881f19f29","6b359057c8a20ad4","a2776140568b6755","4f913b27580a5556","02ababf8324c14e9","321362c859b46d61","938da5b5d2b02147"]]},{"id":"ead5eaf328765435","type":"comment","z":"6feffd2432014f63","name":"Kung EV Section_______________________________________________________________________________________________","info":"","x":610,"y":1400,"wires":[]},{"id":"e091b7baa5ee422f","type":"api-current-state","z":"6feffd2432014f63","name":"kung_ev_daily_offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_ev_daily_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":1480,"wires":[["9740eb18aaef7ca9"]]},{"id":"9740eb18aaef7ca9","type":"api-current-state","z":"6feffd2432014f63","name":"kung_ev_daily_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_ev_daily_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":1480,"wires":[["e67bd33117a3355b"]]},{"id":"c102bb2009dd6b8c","type":"inject","z":"6feffd2432014f63","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1440,"wires":[["e091b7baa5ee422f","c49d856fb2de7887"]]},{"id":"e67bd33117a3355b","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = (offpeak + peak).toFixed(2);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1480,"wires":[["9aea1515d364e3f4"]]},{"id":"9aea1515d364e3f4","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Kung_EV_TOU_Daily_Total","entityConfig":"6ae082f68ab0061d","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1140,"y":1480,"wires":[[]]},{"id":"a3d881372ed6ca20","type":"debug","z":"6feffd2432014f63","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1960,"y":1380,"wires":[]},{"id":"c49d856fb2de7887","type":"api-current-state","z":"6feffd2432014f63","name":"kung_ev_monthly_Offpeak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_ev_monthly_23_offpeak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data1","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":1560,"wires":[["c563aafa69e7869c"]]},{"id":"c563aafa69e7869c","type":"api-current-state","z":"6feffd2432014f63","name":"kung_ev_monthly_peak","server":"2f2353f3.8506ec","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.utm_kung_ev_monthly_23_peak","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data2","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":1560,"wires":[["d3a3a2156c9a5671"]]},{"id":"d3a3a2156c9a5671","type":"function","z":"6feffd2432014f63","name":"FC: TOU Total","func":"var tou_total = 0;\nvar offpeak = 0;\nvar peak =0;\n\noffpeak = parseFloat(msg.payload1);\npeak = parseFloat(msg.payload2);\nmsg.tou_total = (offpeak + peak).toFixed(2);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1560,"wires":[["95f960d995b91648"]]},{"id":"95f960d995b91648","type":"ha-sensor","z":"6feffd2432014f63","name":"UTM_Kung_EV_TOU_Monthly_Total","entityConfig":"fb4224c59d01af23","version":0,"state":"tou_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1150,"y":1560,"wires":[["e93a116a72680d48","3f42a8ad80b1c97a"]]},{"id":"e93a116a72680d48","type":"function","z":"6feffd2432014f63","name":"PEA Rate","func":"var month_kwh = 0;\nvar process_kwh = 0;\n//var thb_exc_vat = 0;\nvar thb_inc_vat = 0;\nvar ft_inc_vat = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\nconst rate_150 = 3.475788;\nconst rate_250 = 4.517326;\nconst rate_400 = 4.731219;\nconst rate_ft = 0.211004; //new ft 2025\nconst rate_service = 26.3434;\n\nprocess_kwh = parseFloat(msg.tou_total);\nft_inc_vat = process_kwh * rate_ft;\n\n//150 kwh 0 - 150\nif (process_kwh > 150) {\n    thb_inc_vat = 150 * rate_150;\n    process_kwh = process_kwh - 150;\n//250kwh 151-400\n    if (process_kwh > 250) {\n        thb_inc_vat = thb_inc_vat + (250 * rate_250);\n        process_kwh = process_kwh - 250;\n//400kwh 401+\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_400);\n    }\n    else{\n        thb_inc_vat = thb_inc_vat + (process_kwh * rate_250);\n    }\n}\nelse {\n    thb_inc_vat = process_kwh * rate_150;\n}\n\n//msg.thb_inc_vat = msg.thb_exc_vate + (msg.thb_exc_vate * 0.07);\nthb_total = rate_service + thb_inc_vat + ft_inc_vat;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = thb_total - thb_inc_vat;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\nmsg.thb_energy = parseFloat(thb_inc_vat.toFixed(2));\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":1560,"wires":[["129ee530b76b3db8","bb043159766fbb04","ca067cab520b2b30"]]},{"id":"129ee530b76b3db8","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_EV_N_THB_Energy","entityConfig":"fbe6f79988355881","version":0,"state":"thb_energy","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1680,"y":1560,"wires":[[]]},{"id":"bb043159766fbb04","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_EV_N_THB_Fee","entityConfig":"9967b6f54ce51b99","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1670,"y":1620,"wires":[[]]},{"id":"ca067cab520b2b30","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_EV_N_THB_Total","entityConfig":"3ae01ab43877c095","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1670,"y":1680,"wires":[[]]},{"id":"3f42a8ad80b1c97a","type":"function","z":"6feffd2432014f63","name":"TOU Rate","func":"var peak_kwh = 0;\nvar offpeak_kwh = 0;\nvar holiday_kwh = 0;\n\nvar total_kwh = 0;\n\nvar thb_peak = 0;\nvar thb_offpeak = 0;\nvar thb_ft = 0;\nvar thb_total = 0;\nvar thb_fee = 0;\n\n\nconst rate_peak = 6.204074;\nconst rate_offpeak = 2.821483;\nconst rate_fee = 26.3434;\n\nconst rate_ft = 0.211004; //new ft 2025\n\npeak_kwh = parseFloat(msg.payload2);\noffpeak_kwh = parseFloat(msg.payload1);\n//holiday_kwh = parseFloat(msg.holiday);\n\ntotal_kwh = parseFloat(msg.tou_total);\n//msg.total_kwh = parseFloat(total_kwh.toFixed(2));\n\nthb_ft = total_kwh * rate_ft;\nmsg.thb_ft = parseFloat(thb_ft.toFixed(2));\n\nthb_peak = peak_kwh * rate_peak;\nmsg.thb_peak = parseFloat(thb_peak.toFixed(2));\n\nthb_offpeak = offpeak_kwh * rate_offpeak;\nmsg.thb_offpeak = parseFloat(thb_offpeak.toFixed(2));\n\nthb_total = msg.thb_peak + msg.thb_offpeak + msg.thb_ft + rate_fee;\nmsg.thb_total = parseFloat(thb_total.toFixed(2));\n\nthb_fee = msg.thb_total - msg.thb_peak - msg.thb_offpeak;\nmsg.thb_fee = parseFloat(thb_fee.toFixed(2));\n\n\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":1460,"wires":[["a3d881372ed6ca20","5f6748c5ca9df573","1141feb46b1fd074","aced1576010602c5","d50b061742d719a3"]]},{"id":"5f6748c5ca9df573","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_EV_TOU_THB_Peak","entityConfig":"71d787dca2bcc3d9","version":0,"state":"thb_peak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":2040,"y":1440,"wires":[[]]},{"id":"1141feb46b1fd074","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_EV_TOU_THB_Offpeak","entityConfig":"df7766f151311671","version":0,"state":"thb_offpeak","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":2050,"y":1500,"wires":[[]]},{"id":"aced1576010602c5","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_EV_TOU_THB_Fee","entityConfig":"995c5a12436e0bd4","version":0,"state":"thb_fee","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":2040,"y":1560,"wires":[[]]},{"id":"d50b061742d719a3","type":"ha-sensor","z":"6feffd2432014f63","name":"Kung_EV_TOU_THB_Total","entityConfig":"01749981e9c92af7","version":0,"state":"thb_total","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":2040,"y":1620,"wires":[[]]},{"id":"2f2353f3.8506ec","type":"server","name":"Home Assistant 13","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"c4ce92067791f488","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"e895d3532e0aefe7","name":"UTM_Mik_TOU_Daily_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Mik_TOU_Daily_Total"},{"property":"icon","value":"mdi:sigma"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"88af72617238cfa4","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"e895d3532e0aefe7","name":"UTM_Mik_TOU_Monthly_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Mik_TOU_Monthly_Total"},{"property":"icon","value":"mdi:sigma"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"17d6f214b9703451","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"1e8a3fefeb086341","name":"UTM_Kung_TOU_Daily_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Kung_TOU_Daily_Total"},{"property":"icon","value":"mdi:sigma"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"8d16f8871198aebe","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"1e8a3fefeb086341","name":"UTM_Kung_TOU_Monthly_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Kung_TOU_Monthly_Total"},{"property":"icon","value":"mdi:sigma"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"9649c9af9c447ae4","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"1e8a3fefeb086341","name":"UTM_Kung_TOU_Daily_Yesterday_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Kung_TOU_Daily_Yesterday_Total"},{"property":"icon","value":"mdi:sigma"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"14e1e6b3aa1724b6","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"1e8a3fefeb086341","name":"UTM_Kung_TOU_Daily_Yesterday_Offpeak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Kung_TOU_Daily_Yesterday_Offpeak"},{"property":"icon","value":"mdi:shield-moon-outline"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"b4bf3288806090be","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"1e8a3fefeb086341","name":"UTM_Kung_TOU_Daily_Yesterday_Peak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Kung_TOU_Daily_Yesterday_Peak"},{"property":"icon","value":"mdi:shield-sun-outline"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"8a01e1d55f12ab90","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"e895d3532e0aefe7","name":"UTM_Mik_TOU_Daily_Yesterday_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Mik_TOU_Daily_Yesterday_Total"},{"property":"icon","value":"mdi:sigma"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"3142d8cc84ac35af","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"e895d3532e0aefe7","name":"UTM_Mik_TOU_Daily_Yesterday_Offpeak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Mik_TOU_Daily_Yesterday_Offpeak"},{"property":"icon","value":"mdi:shield-moon-outline"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"56fe41a3606feaf6","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"e895d3532e0aefe7","name":"UTM_Mik_TOU_Daily_Yesterday_Peak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Mik_TOU_Daily_Yesterday_Peak"},{"property":"icon","value":"mdi:shield-sun-outline"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"d7a442c16837d54d","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_N_THB_Energy","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_N_THB_Energy"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"af75caec6c7982dd","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_N_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_N_THB_Fee"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"97fe24dc83dcd36c","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_N_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_N_THB_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"9df0c2119f371ceb","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"cc83b1e7be9184bb","name":"Mik_N_THB_Energy","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Mik_N_THB_Energy"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"50548ab7401405bb","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"cc83b1e7be9184bb","name":"Mik_N_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Mik_N_THB_Fee"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"d4e5efa5a94ec6a1","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"cc83b1e7be9184bb","name":"Mik_N_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Mik_N_THB_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"28be31c10f25babb","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_TOU_THB_Peak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_TOU_THB_Peak"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"c56d6ce778c44488","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_TOU_THB_Offpeak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_TOU_THB_Offpeak"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"be7954323377084f","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_TOU_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_TOU_THB_Fee"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"b7839ef4b95d7558","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8dc1952b239d5d63","name":"Kung_TOU_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_TOU_THB_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"d2582943e62ee765","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"cc83b1e7be9184bb","name":"Mik_TOU_THB_Peak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Mik_TOU_THB_Peak"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"69389acb76f80784","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"cc83b1e7be9184bb","name":"Mik_TOU_THB_Offpeak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Mik_TOU_THB_Offpeak"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"4473e960d805fae7","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"cc83b1e7be9184bb","name":"Mik_TOU_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Mik_TOU_THB_Fee"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"b275ee0d98ce80ae","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"cc83b1e7be9184bb","name":"Mik_TOU_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Mik_TOU_THB_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"619d7d14ad8c4339","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8df8f9c34ba090cb","name":"UTM_Art_TOU_Daily_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Art_TOU_Daily_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"875bdb6b6013c219","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8df8f9c34ba090cb","name":"UTM_Art_TOU_Monthly_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Art_TOU_Monthly_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"dbda515947435158","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8df8f9c34ba090cb","name":"UTM_Art_TOU_Daily_Yesterday_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Art_TOU_Daily_Yesterday_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"9878c437929c48f7","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8df8f9c34ba090cb","name":"UTM_Art_TOU_Daily_Yesterday_Offpeak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Art_TOU_Daily_Yesterday_Offpeak"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"3964592341478845","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"8df8f9c34ba090cb","name":"UTM_Art_TOU_Daily_Yesterday_Peak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Art_TOU_Daily_Yesterday_Peak"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"fc53c6fe8b7a8e1a","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"2e322961aa1f2112","name":"Art_N_THB_Energy","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Art_N_THB_Energy"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"ad0b759afb20ea3d","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"2e322961aa1f2112","name":"Art_N_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Art_N_THB_Fee"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"8480a2474951fff7","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"2e322961aa1f2112","name":"Art_N_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Art_N_THB_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"3c2f6af619efd8e2","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"2e322961aa1f2112","name":"Art_TOU_THB_Peak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Art_TOU_THB_Peak"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"1eef82482cb11a40","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"2e322961aa1f2112","name":"Art_TOU_THB_Offpeak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Art_TOU_THB_Offpeak"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"11d0bd7bd90fff8b","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"2e322961aa1f2112","name":"Art_TOU_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Art_TOU_THB_Fee"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"5eb3b2a822d6b75c","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"2e322961aa1f2112","name":"Art_TOU_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Art_TOU_THB_Total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"e67799744cac9062","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"61a02bc59fc9cdd1","name":"UTM_Kung2_TOU_Daily_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung2_TOU_Daily_Total"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"}],"resend":false,"debugEnabled":false},{"id":"3e60a2d73d8ea1cb","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"61a02bc59fc9cdd1","name":"UTM_Kung2_TOU_Monthly_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung2_TOU_Monthly_Total"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"}],"resend":false,"debugEnabled":false},{"id":"21d41417c87387d7","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"6ecfdc741d283d4e","name":"Kung2_N_THB_Energy","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_N_THB_Energy"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"20e7237d9f3027c9","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"6ecfdc741d283d4e","name":"Kung2_N_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung2_N_THB_Fee"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"b9a47a116b36a839","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"6ecfdc741d283d4e","name":"Kung2_N_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung2_N_THB_Total"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"d2debafccd0df4cd","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"6ecfdc741d283d4e","name":"Kung2_TOU_THB_Peak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung2_TOU_THB_Peak"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"351f951267c26838","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"6ecfdc741d283d4e","name":"Kung2_TOU_THB_Offpeak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung2_TOU_THB_Offpeak"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"a1103b5735beea96","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"6ecfdc741d283d4e","name":"Kung2_TOU_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung2_TOU_THB_Fee"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"0bee9d738dae3936","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"6ecfdc741d283d4e","name":"Kung2_TOU_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung2_TOU_THB_Total"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"6ae082f68ab0061d","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"7b1d19bde16dd4ad","name":"UTM_Kung_EV_TOU_Daily_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Kung_EV_TOU_Daily_Total"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"fb4224c59d01af23","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"7b1d19bde16dd4ad","name":"UTM_Kung_EV_TOU_Monthly_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UTM_Kung_EV_TOU_Monthly_Total"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"fbe6f79988355881","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"75f75f7eeacd98ad","name":"Kung_EV_N_THB_Energy","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_EV_N_THB_Energy"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"9967b6f54ce51b99","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"75f75f7eeacd98ad","name":"Kung_EV_N_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_EV_N_THB_Fee"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"3ae01ab43877c095","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"75f75f7eeacd98ad","name":"Kung_EV_N_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_EV_N_THB_Total"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"71d787dca2bcc3d9","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"75f75f7eeacd98ad","name":"Kung_EV_TOU_THB_Peak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_EV_TOU_THB_Peak"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"df7766f151311671","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"75f75f7eeacd98ad","name":"Kung_EV_TOU_THB_Offpeak","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_EV_TOU_THB_Offpeak"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"995c5a12436e0bd4","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"75f75f7eeacd98ad","name":"Kung_EV_TOU_THB_Fee","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_EV_TOU_THB_Fee"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"01749981e9c92af7","type":"ha-entity-config","server":"2f2353f3.8506ec","deviceConfig":"75f75f7eeacd98ad","name":"Kung_EV_TOU_THB_Total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Kung_EV_TOU_THB_Total"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"THB"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"e895d3532e0aefe7","type":"ha-device-config","name":"NR_Mik","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"1e8a3fefeb086341","type":"ha-device-config","name":"NR_Kung","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"8dc1952b239d5d63","type":"ha-device-config","name":"NR_Kung_Bill","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"cc83b1e7be9184bb","type":"ha-device-config","name":"NR_Mik_Bill","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"8df8f9c34ba090cb","type":"ha-device-config","name":"NR_Art_Meter","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"2e322961aa1f2112","type":"ha-device-config","name":"NR_Art_Bill","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"61a02bc59fc9cdd1","type":"ha-device-config","name":"NR_Kung2_Meter","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"6ecfdc741d283d4e","type":"ha-device-config","name":"NR_Kung2_Bill","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"7b1d19bde16dd4ad","type":"ha-device-config","name":"Garage_Meter","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"75f75f7eeacd98ad","type":"ha-device-config","name":"NR_Kung_EV_Bill","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""}]